  /*---------------------.
        |  [1] Global-Section   |
        '---------------------*/
        *{
            box-sizing: border-box;
            }
            html {
            scroll-behavior: smooth;
            user-select: none;
            }
            .container{
            max-width: 800px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            position: absolute;
            width:90%;
            background: #181a1b;
            padding: 30px 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 300px;
            border: 2px solid #57a5ff29;
            user-select: none;
            filter:  drop-shadow(0px 0px 40px black);
            }
            /*--------------.
            |  [2] Reset     |
            '---------------*/
            html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img , ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
            }
            html, body {
            height: 100%;
            }
            body {
            line-height: 1;
            }
            article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
            display: block;
            }
            ol, ul {
            list-style: none;
            }
            body {
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            text-align: left;
            color: ghostwhite;
            background: #1e2021;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            margin: 0;
            padding: 0;
            line-height: 2;
            }
            input[type='number']{
            background: #3b3b3b;
            color: ghostwhite;
            outline: 2px solid #57a5ff;
            border: 1px solid #3b3b3b ;
            border-radius: 3px;
            padding: 4px;
            position: relative;
            }
        
            input[type="checkbox"]{
                color: #d1e6ff;
            }
            label,input[type="checkbox"]{
                cursor: pointer;
            }
            /*--------------.
            |  [3]           |
            '---------------*/
            h1{
            text-align: center;
            font-size: 24px;
            text-shadow: 1px 1px 10px black ;
            width: 300px;
            height: 52px;
            margin-top: -30px;
            background: #005dc83e;
            border: 2px solid #57a5ff29;
            border-radius: 20px 20px 25px 25px;
            border-top: none;
            font-family: 'Courier New', Courier, monospace;
            }
            h2{
            text-shadow: 0px 0px 12px #005CC8, 5px 5px 10px black ;
            }
            .input-section{
            display: flex;
            margin-bottom: 70px;
            margin-top:46px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            }
            .checkboxes{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 500px;
            }
            .checkbox{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
            height: 46px;
            width: 135px;
            z-index: 10;
            position: relative;
            cursor: pointer;
            border-radius: 10px;
            border: 2px solid ghostwhite;
           
            }
            button{
            background: #005CC8;
            color: ghostwhite;
            border-radius: 10px;
            padding: 8px 30px;
            font-size: 16px;
            font-weight: 900;
            margin: 50px 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            text-shadow: 0 0 1px black;
            outline: 4px solid #57a5ff;
            border: 1px solid rgba(0, 0, 0, 0.1);
            cursor: pointer;
            position: relative;
            }
            .button-container{
            border-radius: 12px;
            border: 1px solid #005CC8;
            filter: drop-shadow(0px 0px 4px #005CC8) drop-shadow(0px 0px 3px #005CC8) drop-shadow(0px 0px 2px #005CC8) drop-shadow(0px 0px 1px #005CC8) drop-shadow(0px 0px 40px #005CC8)   drop-shadow(0px 0px 10px black);
            height: 46px;
            width: 142px;
            position: absolute;
            top: 290px;
            z-index: -1;
            }
            button:hover{
            background: #0056B3;
            color: rgba(248, 248, 255, 0.894);
            outline: 4px solid #57a5fff4;
            }
            /* password-section */
           .password{
            width: 490px;
            height: 30px;
            background: #3B3B3B;
            color: ghostwhite;
            margin: 0 auto;
            margin-top: 66px;
            border-radius: 8px;
            outline: 3px solid #005CC8;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin-bottom: 70px;
            box-shadow: 0px 0px 15px #005CC8,0px 0px 4px #005CC8,0px 0px 3px #005CC8,0px 0px 2px #005CC8;
           }
           .copy-button{
            cursor: pointer;
            background: #005CC8;
            width: 145px;
            text-align: center;
            float: right;
            height: 30px;
            border-radius: 0 8px 8px 0;
            font-size: 14px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(100px,181px);
           }
           #password{
            margin-right: 148px;
            position: relative;
            color: ghostwhite;
            text-align: center;
           }
           /* image-section */
           #image1{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-268px,-251px);
            filter: drop-shadow(0px 0px 4px #005CC8) drop-shadow(0px 0px 3px #005CC8) drop-shadow(0px 0px 2px #005CC8) drop-shadow(0px 0px 2px black);
           }
           #image2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(232px,247px);
            rotate: 180deg;
            filter: drop-shadow(0px 0px 4px #005CC8) drop-shadow(0px 0px 3px #005CC8) drop-shadow(0px 0px 2px #005CC8) drop-shadow(0px 0px 2px black);
           }
           #image3{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: rotateY(180deg) translate(232px,-251px);
            filter: drop-shadow(0px 0px 4px #005CC8) drop-shadow(0px 0px 3px #005CC8) drop-shadow(0px 0px 2px #005CC8) drop-shadow(0px 0px 2px black);
           }
           #image4{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: rotateX(180deg) translate(-268px,247px);
            filter: drop-shadow(0px 0px 4px #005CC8) drop-shadow(0px 0px 3px #005CC8) drop-shadow(0px 0px 2px #005CC8) drop-shadow(0px 0px 2px black);
           }
           .hide{
            display: none;
           }
           /* Result Animation */
           @keyframes resultAnimation {  
            0%   {opacity: 0;}
            100% {opacity: 1;}   
            }
            .resultAnimation{
            animation: resultAnimation ;
            animation-duration: .5s;
            }
            /* media query */
            @media (max-width: 930px) {
                h1{
                width: 280px;
                height: 56px;
                margin-top: 30px;
                margin-bottom: 0px;
                padding: 10px 0;
                font-size: 18px;
                font-weight: 900;
                border-radius: 10px ;
                border: 2px solid #57a5ff29;
                }
                .password{
                width: 250px;
                font-size: 12px;
                padding-top: 3px;
                margin-top: 40px;
                margin-bottom: 70px;
                border-radius: 5px;
                font-weight: 600;
                }
                #password{
                margin: 0;
                }
                .copy-button{
                transform: translate(-75px,218px);
                border-radius: 6px;
                border-radius: 6px;
                font-weight: 600;
                }
                #image1{
                transform: translate(-168px,-231px);
                }
                #image2{
                transform: translate(332px,227px);
                }
                #image3{
                transform: rotateY(180deg) translate(332px,-231px);
                }
                #image4{
                transform: rotateX(180deg) translate(-168px,227px);            
                }
                .checkboxes{
                width: 300px;
                }
                .checkbox{
                font-weight: 900;
                }
                .input-section{
                margin-bottom: 45px;
                margin-top: 20px;
                font-weight: 600;
                }
                .button-container{
                top: 303px;
                font-weight: 600;
                }
                .container{
                width: 90%;
                border-radius: 15px;
                overflow-x: hidden;
                }
            }